.categorias {
    padding: 80px 12.5%;
}

.categorias__titulo {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
    margin-bottom: 40px;
}

.categorias__texto {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-secundario);
    margin-bottom: 40px;

}

.categorias__list_item_titulo {
    font-size: 31px;
    font-weight: 700;
    line-height: 37.2px;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
    padding: 16px 0;
    text-align: center;

}
.categorias__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 'roupas' ocupa 2 partes, 'decoração' e 'canecas' ocupam 1 parte cada */
    grid-template-rows: auto auto; /* Ajuste conforme necessário */
    grid-template-areas: 
        'roupas roupas decoracao'
        'canecas acessorios acessorios ';
    gap: 24px;
    list-style-type: none;
}



.categorias__list_item_container {
    background-color: var(--cor-links);
    text-align: center;
}

.categorias__list_item {
    box-shadow: 0px 4px 24px 0px #7B7B7B26;
}


.categorias__list_item_container img {
    height: 331px;
    width: 100%;
    object-fit: contain;
 }

.categorias__list_item-roupas {
    grid-area: roupas;
}

.categorias__list_item-decoracao {
    grid-area: decoracao;
}

.categorias__list_item-canecas {
    grid-area: canecas;
}

.categorias__list_item-acessorios {
    grid-area: acessorios;
}


@media screen and (max-width: 768px) {
    .categorias {
        padding: 80px 38px;
    }

   

    .categorias__list {
    
        grid-template-columns: 1fr 1fr .5fr; /* 'roupas' ocupa 2 partes, 'decoração' e 'canecas' ocupam 1 parte cada */
        grid-template-areas: 
            'roupas roupas decoracao'
            'canecas acessorios acessorios ';
    }

    .categorias__list_item_container img {
        width: 200px;
        height: 338px;
    }
    
    
}