.rodape__linha {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    margin-bottom: 32px;
}

.rodape__linha:last-child {
    border-top: 1.5px solid var(--cor-destaque-secundario);
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.rodape__coluna_list-cartao {
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    gap: 16px;
    list-style-type: none;
}

.rodape__coluna_list-redes-sociais {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    list-style-type: none;
}

.rodape {
    padding: 60px 12.5%;
    background-color: var(--cor-texto-principal);
    margin: 0 auto;
}

.rodape__coluna_titulo {
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 20px;
    color: var(--cor-texto);
    line-height: 24px;
    margin-bottom: 16px;
}

.rodape__coluna_logo img {
    width: 79.61px;
    height: 48px;
}

.rodape__coluna_logo_texto {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-destaque-secundario);
    line-height: 19.2px;
}

.rodape__coluna_list {
    list-style-type: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 16px;
    line-height: 19.2px;
}

.rodape__coluna_list_item a {
    color: var(--cor-texto);
    text-decoration: none;
}

.rodape__coluna_list_item {
    margin-bottom: 8px;
}

.rodape__coluna_list_item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .rodape__linha:first-child {
        display: grid;
        grid-template-areas:
        "logo logo logo"
        "funcionamento institucional informacoes";
        justify-content: space-between;
        column-gap: 68px;
    }
    
    .rodape__linha:first-child .rodape__coluna:nth-child(2) {
        grid-area: funcionamento;
        margin-bottom: 24px;
    }

    .rodape__linha:first-child .rodape__coluna:nth-child(3) {
        grid-area: institucional
    }

    .rodape__linha:first-child .rodape__coluna:nth-child(4) {
        grid-area: informacoes;
    }

    .rodape__linha:first-child .rodape__coluna_logo {
        grid-area: logo;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1.5px solid var(--cor-destaque-secundario);
    }

    .rodape__linha:last-child {
        border-top: none;
        padding-top: 32px;
    }
}